.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid chartreuse;
  padding: 10px;
}

.header{
  padding: 10px;
}

h1 { 
    color:blueviolet;
    font-weight: bold;
}

h3 { 
  color: mediumspringgreen;
}

body  {
  padding: 10px;
  background-color: lightcoral;
}

footer {
    color: blue;
    font-weight: bold;
}